* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100vh;
  width: 100%;
}
.container {
  height: 100vh;
  width: 100%;
  color: white;
}
.headerContainer h2 {
  font-size: 1.8rem;
}
.headerContainer {
  background-color: #1a1a27;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  border-bottom: 2px solid #28283c;
}
.headerContainer .left {
  display: flex;
  gap: 3vw;
}
.headerContainer nav li {
  list-style-type: none;
  cursor: pointer;
}
.headerContainer nav ul {
  display: flex;
  gap: 1.5vw;
}
.headerContainer .right {
  display: flex;
  gap: 1.5vw;
  cursor: pointer;
}
.headerContainer .right {
  font-size: 1.3rem;
  display: flex;
  gap: 1rem;
}
.headerContainer nav {
  display: flex;
  align-items: center;
}
.topsection {
  background-color: #1a1a27;
  width: 100%;
  min-height: 35rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.topsection .left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.homeContainer {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.imgcontainer img {
  height: 200px;
  max-width: 100%;
}
.cardcontainer {
  width: 300px;
  height: 500px;
  /* border: 1px solid black; */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 1.3rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgb(26, 26, 39, 1);
}
.cardcontainer p {
  font-size: 1rem;
}
.cartbtn {
  width: 100%;
}
.cartbtn button {
  width: 100%;
  height: 40px;
  background-color: #1a1a27;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
}
@media only screen and (max-width: 768px) {
  .headerContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .headerContainer .nav {
    display: none;
  }
  .footercontainer {
    flex-direction: column;
  }
  .topsection {
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0;
  }
  .topsection .left {
    width: 80%;
  }
}
.footercontainer {
  width: 100%;
  min-height: 20rem;
  background-color: #1a1a27;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
}
.footercontainer .left {
  display: flex;
  gap: 3rem;
}
.footercontainer .left li {
  list-style-type: none;
  margin-bottom: 10px;
}
.footercontainer .right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footercontainer input,
button {
  height: 30px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.footercontainer input {
  width: 15rem;
  padding-left: 20px;
}
.footercontainer button {
  width: 5rem;
}
.iconcontainer {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
}
.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.starcontainer {
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
.cartcontainer {
  /* height: calc(100vh - (60px + 20rem)); */
  color: black;
}
.cartcardcontainer {
  width: 90%;
  min-height: 120px;
  /* border: 1px solid black; */
  box-shadow: 0px 4px 8px rgb(26, 26, 39, 0.5);
}
.cartcontainer .left {
  border-right: 1px solid black;
  /* height: 100%; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.cartimgcontainer img {
  height: 100px;
}
.cardleft {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cartcardcontainer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.cardright {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}
.cardright .quantity {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quantity button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #626283;
  color: white;
  border-radius: 50%;
  font-size: 1.2rem;
}
.cartcardcontainer {
  border-radius: 20px;
}
.cardright .price {
  font-size: 1.2rem;
}
.cross {
  cursor: pointer;
  font-size: 1.3rem;
}
.cartcontainer .left {
  overflow-x: auto;
  gap: 2rem;
}
.cardcontainer .right {
  width: 40%;
  height: 100%;
}
.cartcontainer {
  display: flex;
  flex-direction: row;
}
.cartcontainer .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cost {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20rem;
  font-size: 1.5rem;
}
.innercost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.purchase {
  width: 100%;
  height: 35px;
  background-color: #28283c;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .cartcontainer {
    width: 100%;
    flex-direction: column;
  }
  .cartcontainer .left {
    width: 100%;
  }
  .cartcontainer .right {
    width: 100%;
  }
  .container .topsection {
    padding-top: 8rem;
  }
}
.carticoncontainer {
  position: relative;
  right: -25px;
}
.carticoncontainer img {
  filter: invert(100%);
  height: 40px;
}
.carticoncontainer p {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}
.pcontainer {
  position: absolute;
  top: 2px;
  right: 11px;
  height: 15px;
  width: 15px;
  /* background-color: white; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerContainer .right {
  /* font-size: 1.75rem; */
  display: flex;
  align-items: center;
}
.headerContainer {
  position: fixed;
  z-index: 999;
}
.cartcontainer {
  padding-top: 3.7rem;
  height: 80%;
}
.promo {
  height: 35px;
  display: flex;
  justify-content: space-between;
}
.promo button,
input {
  height: 100%;
}
.promo button {
  margin-right: 0;
  width: 20%;
  cursor: pointer;
}
.promo input {
  border: 1px solid rgb(105, 105, 105);
  width: 75%;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
}
.topsection {
  padding-top: 4rem;
}
.promoNcross {
  position: relative;
  width: 75%;
}
.promoNcross input {
  width: 100%;
}
.promoCross {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}
.promocodebox {
  background-color: #626283;
  color: white;
  padding: 3px;
  border-radius: 10px;
}
.promoheading {
  margin-bottom: -15px;
  line-height: 22px;
}
.cartNotifyContainer {
  position: absolute;
  bottom: -50px;
  right: 0;
  height: 35px;
  width: 200px;
  background-color: #626283;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.cartNotifyContainer h4 {
  font-size: 1rem;
}
.cartNotifyContainer {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s linear all;
}
@media only screen and (max-width: 768px) {
  .cartcontainer .left {
    border: none;
    border-bottom: 1px solid black;
    padding-top: 4.5rem;
  }
  .cartcontainer .right {
    padding: 3rem 0;
    /* border: 1px solid; */
    margin-bottom: 0;
  }
  .cartcardcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* height: 30rem; */
    position: relative;
    gap: 1rem;
    padding: 1rem;
  }
  .cross {
    position: absolute;
    right: 30px;
    bottom: 4.5rem;
  }
  .carttitle {
    font-size: 0.8rem;
  }
  .quantityDisplay {
    margin-right: 0.6rem;
  }
  .cartcontainer .left {
    height: 100%;
  }
  .footercontainer {
    margin-top: 0;
  }
  .cartcontainer .left {
    flex-direction: row;
  }
  .cartcontainer .left {
    overflow-y: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cartcontainer .cartcardcontainer {
    min-width: 500px;
  }
  .cartcardcontainer{
    height: 100%;
  }
}
.tempP {
  position: absolute;
}
/* ______________________________ */
.checkoutContainer{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout{
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}